@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    height: 100%;
    width: 100%;
    background-color: #ffb300;
}

.button{
    width: 70px;
    padding: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    margin: 0 3px;
    border: 0px;
    border-radius: 100px;
    font-size:x-large;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: center;
    margin: 6px 0;
    width: 290px;
}

.operator{
    background-color: #ffb300;
    color: white;
}

.number{
    background-color: #303030;
    color: white;
}
.clear{
    background-color: #dbdbdb;
}
.calc{
    background-color: rgb(0, 0, 0);
    padding: 30px;
    padding-top: 1%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    height: 600px;
}
.input{
    background-color: black;
    border: 0;
    width: 280px;
    height: 60px;
    font-size: 60px;
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: 300;
    text-align: end;
}
.inp{
    margin: 80px 0 20px 0;
}
.last-row{
    display: flex;
    flex-direction: row;
}
#zero{
    flex: 1 1 44%;
}
.aam-janta{
    flex: 1 1 21%;
}